:root {
  --primarycolor: #ddf3ff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    opacity: 0.3;
    z-index: 0; 
}

header video {
    position: absolute;
    top: 82%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.navbar {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 1;
}



.navbar-trans {
    background: transparent;
}

.navbar a {
    font-family: 'Exo', sans-serif;
    color: #eefafc;
    font-size: 1.85rem;
    font-weight: 500;
    letter-spacing: .1rem;
    -webkit-transition: all .65s ease-in-out;
    transition: all .65s ease-in-out;
    text-shadow: 0 0rem 0.2rem #00a1a1;
}

.navbar-brand {
    padding-left: 1.5rem;
    padding-top: 1.3rem;
    z-index: 1500;
}

.navbar a:hover {
    color: #03f7ce;
    text-shadow: 0 0rem 0.75rem #00a1a1;
}

#navbarSupportedContent {
    visibility: hidden;
}

.top-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background-color: black;
  transition: all 900ms cubic-bezier(1,0,0,1);
  overflow-x: hidden;
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.nav-list a {
  color: #02ffd5;
  font-size: 4rem;
}

.nav-list a:hover {
  color: #eefafc;
  background-color: #03f7ce;
  color: #000000;
  border-radius: 2rem;
  box-shadow: 0 0rem 1.2rem #00afaf;
}

li {
  margin: 0 3rem;
}


.nav-link {
  color: #e5fafd;
  padding: 1rem;
  border-radius: 2rem;
}


.nav-link:focus {
  background-color: #03f7ce;
  color: #000000;
  border-radius: 2rem;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 2.25rem;
  right: 3.5rem;
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 750ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: rgba(242, 248, 247, 1);
  width: 100%;
  height: 4px;
  border-radius: 1rem;
  text-shadow: 0 0rem 1.2rem #00afaf;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 700ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  transform-origin: left;
  transition: transform 700ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  align-self: flex-end;
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.open .bar {
  background: linear-gradient(to top, #03f7ce, #4deebe);
  transition: all .65s ease-in-out;
}

h1 {
    text-transform: uppercase;
    padding-top: 17%;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: #e5fafd;
    letter-spacing: 0.15rem;
    text-shadow: 0 0rem 1.2rem #00afaf;
    margin-bottom: 1.5rem;
    animation-duration: 1.2s;
}


button:focus {
    outline:0;
}

.coolass_button{
  font-family: 'Exo', sans-serif;
  width: 235px;
  height: 75px;
  background:rgba(0, 255, 213, 0.692);
  background-size: 200%;
  border: 0.15rem solid #eefafc;
  border-radius: 1.65rem;
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  font-weight: 400;
  font-size: .85rem;
  text-shadow: 0 0rem 0.45rem #003636;
  padding: .25rem;
  animation-delay: 1.3s;
  margin-top: 0px;
  will-change:all;
  transition-timing-function:ease-in-out;
}

.coolass_button_first{
  background-position: 100%;
  height: 30px;
  transform:translateY(0px);
  color:#03f7ce;
}

.coolass_button_bridge1{
  background: #03f7ce;
  background-position: 0%;
  transition: none; 
  border: 0.20rem solid #e2fcff;
  box-shadow: 0 0rem 0.8rem #03f7ce;
}

.coolass_button_second{
  background: linear-gradient(to right, #03f7ce 0%,#03f7ce 50%,#5bebd3 50%,#4deed3 50%,#15dbba 50%,#04c9a8 100%);
  background-size: 200%;
  transition: all 2s;
}

.coolass_button_third{
  background-position: -100%;
}

.coolass_button_final{
  transition: all .5s ease-in-out;
  margin-top: 0px;
  height: 75px;
  transform:translateY(35px);
}

.coolass_button::after{
  content: 'Downloaded!';
  position: absolute;
  right: -100%;
  opacity: 0;
  width: 100%; 
  top:22%;
  margin: 0px;
  color: #eefafc;
  font-size: 2em;
  transition: all .5s ease-in-out;
}

.coolass_button_final:after{
  right: 0%;
  opacity: 1;
  height: 75px;
}

.coolass_button::before{
  content: 'View Resume';
  position: absolute;
  left: 0%;
  width: 100%;
  top: 22%;
  margin: 0px;
  color: #e2fcff;
  font-size: 2em;
  transition: all .5s ease-in-out;
}

.coolass_button:hover {
  background-color: #03f7ce;
  color: #d5f9ff;
  border: 0.15rem solid #e2fcff;
  box-shadow: 0 0rem .85rem #03f7ce;
}

.coolass_button_first::before{
  left: -100%;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
h1{
  font-size: 1.75rem;
  padding-top: 70%;
}

.coolass_button{
  width: 75%;
  height: 6%;
  font-size: .65rem;
  padding-top: 15%;
}



}
    



  

